

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 40px 20px 40px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);

  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  
  .footer__logo {
    font-weight: 500;
    
    font-size: 20px;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 500;
    font-size: 20px;
  }
  
  
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 3;
  }
  .footer li  :hover{
   color: #2f2f2f;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  
  .nav__ul a {
    color: #999;
  }
  
  
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }



.footer-distributed .footer-links{
	color:  rgba(0,0,0,.58);
	margin: 0 0 10px;
	padding: 0;
}




/* Footer social icons */


.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 20px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.sb-rule {
  border: 0;
  margin: 0;
}
.py5 {
  padding-top: 3.2rem!important;
  padding-bottom: 3.2rem!important;
}









